@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  /* background: #444444; */
  color: white;
}
.my {
  /* width: 500px; */
}
.my {
  float: right;
}
.other p {
  float: left;
  background: rgb(113, 94, 0);
}
